{% extends "base.html.twig" %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            {% include '/frontend/nav.html.twig' %}
        </div>
        <div class="row phone-offset mg-top-nav">
            <div class="tesinasdiv">
                <div class="col-12 offset-0 maincont">
                    <div class="row">
                        <div class="col-12 text-center text-whiteb forpar">
                            <h2>Ke stažení</h2>
                        </div>
                        <div class="photo-gallery">
                            <div class="pic">
                                <img src="{{ asset("/static/167-1_brozura-sesitek-pmeduca-2020-web2.jpg.png") }}">
                            </div>
                            <div class="pic">
                                <img src="{{ asset("/static/167-1_brozura-sesitek-pmeduca-2020-web2.jpg.png") }}">
                            </div>
                            <div class="pic">
                                <img src="{{ asset("/static/167-1_brozura-sesitek-pmeduca-2020-web2.jpg.png") }}">
                            </div>
                            <div class="pic">
                                <img src="{{ asset("/static/167-1_brozura-sesitek-pmeduca-2020-web2.jpg.png") }}">
                            </div>
                            <div class="pic">
                                <img src="{{ asset("/static/167-1_brozura-sesitek-pmeduca-2020-web2.jpg.png") }}">
                            </div>
                            <div class="pic">
                                <img src="{{ asset("/static/167-1_brozura-sesitek-pmeduca-2020-web2.jpg.png") }}">
                            </div>
                            <div class="pic">
                                <img src="{{ asset("/static/167-1_brozura-sesitek-pmeduca-2020-web2.jpg.png") }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center mg-top-50">
                            <footer>
                                © 2021 Všechna práva vyhrazena.
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}