<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="col-6 offset-1 text-nadpis">Vítejte na stránkách<br/>mateřské školy Krupá.</div>
    <div class="col-4">
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon float-right"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        <ul class="navbar-nav nav-item-last nav-item-first">
            <li class="nav-item active">
                <a class="nav-link text-whiteb mg-top-15per" href="{{ path("index") }}">Úvod<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-whiteb mg-top-15per" href="{{ path("menu") }}">Jídelníček</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-whiteb mg-top-15per" href="{{ path("forparents") }}">Pro rodiče</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-whiteb mg-top-15per" href="{{ path("download") }}">Ke stažení</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-whiteb mg-top-15per" href="{{ path("index") }}#contact">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>